.container-404{
  height: 800px;

}

.container-404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-404 h3{
  font-size: 120px;
}

.no-exist p{
  font-size: 40px;
}

.btn-404{
  padding: 10px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.btn-404:hover{
  background-color: #fff;
  color: #000;
}